* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #f0f0f0;
}

.countries-list-container {
  width: 80%;
  margin: 2rem auto;
  background: #ffffff;
  border-radius: 16px;
}

.countries-list {
  list-style: none;
  padding: 16px 24px;
  border: 1px solid #d5d5d5;
  border-radius: 16px;
}

.country-item {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.country-item-img-container {
  width: 40px;
}

.country-item-img-container img {
  border: 0.5px solid;
  width: 100%;
}

.container-element {
  width: 150px;
}
